<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Lista ksiazek</h1>

    <table cellspacing="20" border="1">
        <tr>
            <th>Tytul</th>
            <th>Autor</th>
            <th>Wydawnictwo</th>
        </tr>

        <tr th:each="book : ${booklister}">
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getBookPublisher().getName()}"></td>
            <td th:text="${book.getBookAuthor().getName()}"></td>
        </tr>

    </table>

    <h1>Dodaj nowa ksiazke</h1>
    <form action="#" th:action="@{/addBook}" th:object="${book}" method="post">
        <p>Nazwa ksiazki: <input type="text" th:field="*{title}"/></p>
        <p>Autor: <input type="text" th:field="*{bookAuthor.name}"/></p>
        <label>Podaj Wydawnictwo</label>
        <select th:field="*{bookPublisher.id}">
            <option th:each="pub : ${publisherlister}"
                    th:value="${pub.getId()}"
                    th:text="${pub.getName()}"></option>

        </select>
        <label>Podaj Gatunek</label>
        <select th:field="*{bookCategory.id}">
            <option th:each="cat : ${categorieslister}"
                    th:value="${cat.getId()}"
                    th:text="${cat.getName()}"></option>
        </select>

        <!--<label>Podaj Autora</label>-->
        <!--<select th:field="*{bookAuthor.id}">-->
            <!--<option th:each="author : ${authorlister}"-->
                    <!--th:value="${author.getId()}"-->
                    <!--th:text="${author.getName()}"></option>-->
        <!--</select>-->

        <p><input type="submit"  value="Submit"/>
        <input type="reset" value="Reset"/> </p>
    </form>
</div>
</body>
</html>